<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<% if (messages.error) { %>
  <div class="flash-error">
    <%= messages.error %>
  </div>
<% } %>

<% if (messages.success) { %>
  <div class="flash-success">
    <%= messages.success %>
  </div>
<% } %>

  <h2>Welcome <%= account_firstname %></h2>
  <% if (account_type === "Employee" || account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Go to Inventory Management</a></p>
  <% } %>
  <p><a href="/account/update">Update Account Information</a></p>