<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Login form -->
<!-- <form id="login-form" action="/login" method="POST"> -->
<form id="loginForm" action="/account/login" method="post">
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="account_email" placeholder="Enter your email" required value="<%= locals.account_email %>">
    
    <label for="password">Password:</label>
    <div>(Must be 12 characters minimum, with at least 1 capital letter, lower case letter, number, and special character)</div>
    <input type="password" id="password" name="account_password" placeholder="Enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    
    <button type="submit">Login</button>
</form>

<!-- Registration link -->
<p id="register-link">
    No account? 
    <a href="/account/register">Register here</a>.
</p>