<% const d = new Date()
let year = d.getFullYear() %>
<footer class="footer">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="/error/trigger-error" class="error-link">Trigger Error</a>
</footer>