<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<% if (messages.error) { %>
  <div class="flash-error">
    <%= messages.error %>
  </div>
<% } %>

<% if (messages.success) { %>
  <div class="flash-success">
    <%= messages.success %>
  </div>
<% } %>

  <form id="add-class-form" action="/inv/add-classification" method="post">
    <h2>Add Classification</h2>

    <label for="classification">Classification Name</label>
    <div>(Must be only alphabetic characters and 3 or more characters)</div>
    <input type="text" id="add-class" name="classification_name" placeholder="Enter classification name" pattern="[A-Za-z]+" required>
    
    <button type="submit">Add Classification</button>
</form>