<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<% if (messages.error) { %>
  <div class="flash-error">
    <%= messages.error %>
  </div>
<% } %>

<% if (messages.success) { %>
  <div class="flash-success">
    <%= messages.success %>
  </div>
<% } %>

<!-- Inventory items display -->
 <%- vehicleTemplate %>